<nav class="navbar fixed-top navbar-light">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
      <img src="/assets/images/go-jek-logo.svg" height="40" class="d-inline-block align-top" alt="GO-JEK">
      <span class="navbar__brand-text">Tech</span>
    </a>
  </div>
</nav>

<header class="header-hero">
  <section class="container-fluid">
    <section class="jumbotron header-hero__jumbotron">
      <h1>
        GO-JEK Tech's Free and
        <br />
        Open Source Software
        <br />
        projects.
      </h1>
    </section>
  </section>
</header>
