<header class="header-hero">
  <section class="container-fluid">
    <nav class="navbar navbar-light bg-transparent header-hero__nav">
      <a class="navbar-brand" href="/">
        <img src="/assets/images/go-jek.svg" height="40" class="d-inline-block align-top" alt="GO-JEK">
        <span class="header-hero__navbar-brand-text">Tech</span>
      </a>
    </nav>
    <section class="jumbotron header-hero__jumbotron">
      <h1>
        GO-JEK's Free and
        <br />
        Open Source Software
        <br />
        projects.
      </h1>
    </section>
  </section>
</header>
