<nav class="navbar fixed-top navbar-light">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
      <img src="/assets/images/go-jek-logo.svg" height="40" class="d-inline-block align-top" alt="GO-JEK">
      <span class="navbar__brand-text">Tech</span>
    </a>
  </div>
</nav>

<header class="header-hero">
  <section class="container-fluid">
    <section class="jumbotron header-hero__jumbotron">
      <div class="col-sm-6">
        <h1>
          GO-JEK Tech
        </h1>
        <h2>
          Our Free and Open Source Software projects.
        </h2>
        <p class="lead">
          Building <a href="http://gojek.com">GO-JEK</a> would not have been possible without Free and Open Source
          Software. Here's a listing of Free and Open Source Software projects actively maintained by
          <a href="http://gojek.io">GO-JEK&nbsp;Tech</a>. We have released these projects in the hopes of being useful
          to the community. For a full list of our contributions, please checkout our
          <a href="http://github.com/gojektech">GitHub</a>.
        </p>
        <p class="header-hero__jumbotron-footer">
          We welcome contributions of all kinds.
        </p>
      </div>
    </section>
  </section>
</header>
